/* #categories1{background-image: url(./images/Screenshots/bio\ waste.png); background-size: cover; background-repeat: no-repeat; width: 100%;height: 25%;}
    .img-fluid{
        max-width: 100%;
        width: 100%;
        height: 500px;
    } */

    .service-box{
        width: 90%;
        height: 90%;

    }
    /* category 1 images start */
    .category-1-1{background-image: url(./images/Screenshots/automatic\ baling\ machine.png); background-size: cover; background-repeat: no-repeat; width: 100%;height: auto;}
    .category-1-2{background-image: url(./images/Screenshots/D\ duster.png); background-size: cover; background-repeat: no-repeat; width: 100%;height: auto;}
 /* category 1 images end */
    

 .parallax {
    /* The image used */
    background-image: url("./images/Screenshots/bailing\ machine\ \ \ big.png");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("./images/Screenshots/bio\ waste.png");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }